{% extends 'base.html' %}
{% block title %}
    {% if not user_error %}
        Папка {{ folder.name }}
    {% else %}
        Ошибка
    {% endif %}
{% endblock title %}
{% block content %}
{% if not user_error %}
    <h4 class="text-center">{{ folder.name }}</h4>
    <div class="d-flex justify-content-around">
        <div class="p-2">
            <a class="btn btn-info" href="#">Переименовать</a>
        </div>
        <div class="p-2">
            <a class="btn btn-danger" href="#">Удалить</a>
        </div>
    </div>
        {% if not notes %}
            <h4 class="text-center mt-4">Ваша папка пуста</h4>
        {%else%}
            <h4 class="text-center mt -4">Заметки</h4>
            <div class="d-flex justify-content-center mt-4">
                {% include "base/view_notes.html" with notes=notes %}
            </div>
        {% endif %}
{% else %}
    <h4>{{ user_error }}</h4>
{% endif %}
{% endblock content %}
